body {
    font-family: Helvetica;
}

header {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}

h1 {
    font-size: 80px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/* subheading background colors */

#brushes h2 {
    background-color: mediumspringgreen;
}

#frames h2 {
    background-color: lightcoral;

}

#paint h2 {
    background-color: skyblue;
}

a {
    font-weight: bold;
    color: blue;
}
